 /* * means all element */
 * {
   padding: 0px;
   margin: 0px;
 }

 a {
   text-decoration: inherit;
   color: inherit;
 }

 p {
   margin: 0px;
 }

 header {
   color: white;
 }

 body {
   background: #E3E6E6 !important;
 }

 header .header-container {
   height: 50%;
   /* 50px */
   display: flex;
   justify-content: space-between;
 }

 header .header-container.top {
   padding: 10px;
 }

 header .logo {
   display: flex;
   gap: 10px;
   font-size: 12px;
   width: 25%;
 }

 header .logo .location {
   display: flex;
   align-items: center;
   gap: 5px;
 }

 header .search {
   width: 48%;
   background: red;
   display: flex;
   background: white;
   border-radius: 6px;
 }

 header .search select {
   padding: 0px 5px;
   background: #d4d4d4;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   border: none;
 }

 header .search select:focus {
   outline: none;
 }

 header .search input {
   padding: 0 10px;
   flex: 1;
   border: none;
 }

 header .search input:focus {
   outline: none;
 }

 header .search button {
   flex: 0.1;
   background: #febd69;
   height: 100%;
   border: none;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   font-size: 20px;
   cursor: pointer;
 }

 header .tools {
   width: 25%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 header .tools .lang {
   border: 1px solid white;
   width: 60px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   cursor: pointer;
   position: relative;
 }

 header .tools .lang .lang-tips {
   background: white;
   color: #000000;
   min-height: 130px;
   position: absolute;
   min-width: 100px;
   top: 100%;
   left: 0;
   font-size: 14px;
   padding: 10px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
   visibility: hidden;
   transform: translateY(20px);
   transition: 0.5s transform, 0.5s opacity;
   opacity: 0.5;
 }

 header .tools .lang:hover .lang-tips {
   visibility: visible;
   transform: translateY(0);
   opacity: 1;
 }

 header .tools .sign {
   position: relative;
 }

 header .tools .sign span {
   font-size: 12px;
 }

 header .tools .sign h5 {
   font-size: 16px;
 }

 header .tools .sign .content {
   background: rgb(255, 255, 255);
   min-width: 300px;
   min-height: 400px;
   padding: 15px;
   position: absolute;
   right: -80px;
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   border: 1px solid rgba(0, 0, 0, 0.25);
   visibility: hidden;
 }

 header .tools .sign .content .top {
   text-align: center;
   padding-bottom: 15px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.25);
 }

 header .tools .sign .content .top .sign-btn {
   background-color: #feda2a;
   padding: 5px 60px;
   border: none;
   border-radius: 8px;
   margin-bottom: 5px;
 }

 header .tools .sign .content .top span {
   font-size: 10px;
   color: #000101;
 }

 header .tools .sign .content .top a {
   font-size: 10px;
   text-decoration: none;
 }

 header .tools .sign .content .top a:hover {
   color: orange;
 }

 header .tools .sign .content .bottom .left ol {
   list-style: none;
 }

 header .tools .sign .content .bottom .left h4 {
   color: #000000;
   font-size: 20px;
 }

 header .tools .sign .content .bottom .left ol li {
   margin-top: 10px;
 }

 header .tools .sign .content .bottom .left ol a {
   color: rgba(0, 0, 0, 0.8);
   text-decoration: none;
 }

 header .tools .sign:hover .content {
   visibility: visible;
 }

 .content .bottom {
   display: flex;
   justify-content: space-between;
 }

 .content .bottom .left {
   margin-top: 10px;
   border-right: 1px solid rgba(0, 0, 0, 0.25);
   width: 50%;
 }

 /* Banner style start */
 main .banner {
   border: 1px solid red;
   height: 90vh;
   position: relative;
 }

 main .banner .slide {
   height: 100%;

 }

 main .banner .slide .carousel-inner {
   height: 100%;

 }

 main .banner .slide .carousel-inner .carousel-item {
   height: 100%;
 }

 main .banner .slide .carousel-inner .carousel-item img {
   height: 100%;
 }

 main .banner .slide button {
   /* background: white ; */
   height: 300px;
   width: 100px;
 }

 /* Products category */
 main .banner .products-category {
   width: 100%;
   position: absolute;
   top: 50%;
   left: 0;
 }

 main .banner .products-category .product-container {
   width: 98%;
   margin: auto;
   display: flex;
   height: 100%;
   justify-content: space-between;
 }

 main .banner .products-category .product-container .item {
   width: 24%;
   background: white;
   padding: 20px 10px;
 }

 main .banner .products-category .product-container .item .products {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 main .banner .products-category .product-container .item .product {
   width: 48%;
   margin-top: 10px;
 }

 main .banner .products-category .product-container .item .product .product-img {
   width: 155px;
   height: 100px;
 }

 main .banner .products-category .product-container .item .product .product-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 main .banner .products-category .product-container .item .product p {
   font-size: 12px;
   font-weight: 600;
 }

 /*Product Deals*/
 .product-deals {
   background: rgb(255, 255, 255);
   padding: 15px;
   width: 98%;
   margin: auto;
   margin-top: 100px;
 }

 .product-deals .top {
   display: flex;
   align-items: center;
   gap: 10px;
   text-decoration: none;
 }

 .product-deals .top a {
   color: rgb(5, 126, 126);
 }

 .product-deals .bottom .products {

   display: flex;
   justify-content: space-between;
 }

 .product-deals .bottom .products .item {
   height: 100%;
   width: 16%;
 }

 .product-deals .bottom button[data-bs-target="#carouselExampleControls1"] {
   background: rgb(255, 255, 255);
   width: 50px;
   height: 50%;
   margin: auto 0;
   
   opacity: 1;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
 }

 .product-deals .bottom button[data-bs-slide="prev"] {
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
 }
 .product-deals .bottom button[data-bs-slide="next"] {
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.25);
 }

 .product-deals .bottom i {
   color: black;
 }
 .product-deals .bottom  .item .top{
   background: #F7F8F8;
   width: 100%;
   height: 180px;
   padding: 20px;
   margin-bottom: 15px;
 }
 .product-deals .bottom  .item .top img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 .product-deals .bottom  .item .bottom button{
   background: #CC0C39;
   color: white;
   border: none;
   font-size: 12px;
   padding: 5px;
   border-radius: 2px;
 }
 .product-deals .bottom  .item .bottom span{
  font-size: 12px;
  color: #CC0C39;
  font-weight: 500;
 }
 .product-deals .bottom  .item .bottom p{
  font-size: 11px;
 }